<!DOCTYPE html>
<html>
  <%- include('partials/head') %>
  <link rel='stylesheet' href='/stylesheets/input.css' />
  <body>
    <div class="main-container">
      <%- include('partials/navbar') %>
      <div class="body-container">
        <h1 class="title">Student Record Input</h1>

        <% if (locals.partialGPA !== undefined) { %>
          <div class="input-success">
            <p>Successfully input record:</p>
            <p><%= student.firstName %> <%= student.lastName %></p>
            <p>Partial GPA - <%= partialGPA.toFixed(1) %></p>
          </div>
        <% } %>

        <form class="student" action="/input" method="POST">
          <div class="name<% if (locals.errors && locals.errors.firstName) { %> error<% } %>">
            <label for="firstName">First Name</label><br>
            <input type="text" id="firstName" name="firstName" <% if (locals.student && locals.partialGPA === undefined ) { %>value="<%= student.firstName %>"<% } %><br>
          </div>
          <% if (locals.errors && locals.errors.firstName) { %>
            <p class="error-message"><%= locals.errors.firstName %></p>
          <% } %>
          <div class="name<% if (locals.errors && locals.errors.lastName) { %> error<% } %>">
            <label for="lastName">Last Name</label><br>
            <input type="text" id="lastName" name="lastName" <% if (locals.student && locals.partialGPA === undefined ) { %>value="<%= student.lastName %>"<% } %><br>
          </div>
          <% if (locals.errors && locals.errors.lastName) { %>
            <p class="error-message"><%= locals.errors.lastName %></p>
          <% } %>

          <div class="grades">
            <% for (const course in courses) { %>
              <div class="course <% if (locals.errors && locals.errors[`courseGrades.${course}`]) { %> error<% } %>">
                <label for="<%= course %>"><%= courses[course] %></label><br>
                <select name="<%= course %>" id="<%= course %>">
                <option disabled <% if (locals.partialGPA !== undefined || !locals.student || (locals.student && student.courseGrades[course] === undefined)) { %> selected <% } %> value> -- select an option -- </option>
                <% for (const grade in gradeScale) { %>
                  <option class="grade" <% if (locals.partialGPA === undefined && (locals.student && student.courseGrades[course] === grade)) { %> selected <% } %> value="<%= grade %>"><%= grade %></option>
                <% } %>
                </select><br>
              </div>
              <% if (locals.errors && locals.errors[`courseGrades.${course}`]) { %>
                <p class="error-message"><%= locals.errors[`courseGrades.${course}`] %></p>
              <% } %>
            <% } %>
          </div>

          <input class="submit" type="submit" value="submit" />
        </form>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
